$pc-media: 1024px;
$pcs-media: 1023px;
$md-media: 768px;
$mds-media: 767px;
$m-media: 480px;
$ms-media: 479px;

$lte7:false;

$max-width: 980px;
$width_full: 100%;

//電腦
@mixin pc-width {
    @media all and (min-width: $pc-media) {
        @content;
    }
}

//小螢幕電腦
@mixin md-width {
    @media all and (min-width: $md-media) {
        @content;
    }
}

//大平板
@mixin sms-width {
    @media all and (max-width: $pcs-media) {
        @content;
    }
}

//平板
@mixin sm-width {
    @media all and (max-width: $mds-media) {
        @content;
    }
}

//手機
@mixin xs-width {
    @media all and (max-width: $ms-media) {
        @content;
    }
}

@mixin inline_block($inline_width: auto, $inline_vertical: middle) {
    display: inline-block;
    vertical-align: $inline_vertical;
    width: $inline_width;
    box-sizing: border-box;
}

@mixin button_initial {
    text-align: center;
    padding: 8px 3px;
    color: #FFF;
    font-size: 1em;
    border: 0;
    width: 110px;
    vertical-align: middle;

    @include sm-width {
        font-size: 0.9em;
    }
}

@mixin bg_img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin simple_txt{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

@mixin font_rwd{
    @include md-width{
        font-size: 16px;
    }
    @include sm-width{
        font-size: 14px;
    }
}

@mixin header_menu_icon_cross{
    .icon_btn {
        width: 30px;
        height: 23px;
        position: relative;
        cursor: pointer;

        span{
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #FFF;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
                -webkit-transform-origin: right center;
                -moz-transform-origin: right center;
                -o-transform-origin: right center;
                transform-origin: right center;
            }

            &:nth-child(2) {
                top: calc(50% - 1px);
                -webkit-transform-origin: right center;
                -moz-transform-origin: right center;
                -o-transform-origin: right center;
                transform-origin: right center;
            }

            &:nth-child(3) {
                bottom: 0;
                -webkit-transform-origin: right center;
                -moz-transform-origin: right center;
                -o-transform-origin: right center;
                transform-origin: right center;
            }
        }

        &.open{
            span{
                &:nth-child(1) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }

                &:nth-child(3) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
}

@mixin max_width ($max: $max-width) {
    max-width: $max;
    margin: auto;
}

@mixin opacity($opacity_num) {
    opacity: $opacity_num;
    filter:alpha(opacity=#{$opacity_num*100});
    transition: opacity 0.5s;
}